.portfolio_element#curse {
    background: url(../images/gallery/curse_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#lcsw {
    background: url(../images/gallery/winrate_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#khazix {
    background: url(../images/gallery/khazix_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#lustboy {
    background: url(../images/gallery/lustboy_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#worlds4 {
    background: url(../images/gallery/worlds_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#byob {
    background: url(../images/gallery/byob_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#mymm {
    background: url(../images/gallery/mymm_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#cube {
    background: url(../images/gallery/cube_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#guide {
    background: url(../images/gallery/guide_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#lgd {
    background: url(../images/gallery/lgd_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#proposal {
    background: url(../images/gallery/proposal_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#sf {
    background: url(../images/gallery/sf_thumb.jpg) center no-repeat;
	background-size: cover;
}
.portfolio_element#socialmedia {
    background: url(../images/gallery/socialmedia_thumb.jpg) center no-repeat;
	background-size: cover;
}