#menu {
    width: 40%;
    max-width: 600px;
    height: auto;
    float: left;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #FFF;
}

#header {
    /*position: absolute;
    right: 10%;
    top: 40px;*/
    margin-bottom: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #FFF;
}

.nav_button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Oswald', Arial, sans-serif;
    cursor: pointer;
    font-size: 20px;
}

.nav_button:hover {
    color: #ffca29;
}

#hhhp_logo {
    width: 500px;
    height: 285px;
    display: inline-block;
    margin-top: 100px;
    background: url("../images/gallery/hhhp.png") center no-repeat;
    background-size: contain;
}

#github {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 50px;
    background: url("../images/github.png") center no-repeat;
    background-size: contain;
}

/*  Music Player  */
#player_wrapper{
    width: 60%;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: 3;
    text-align: left;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
}

h1#track_number {
    width: 100px;
    display: inline-block;
    margin-top: 150px;  
    font-size: 72px;
}

#track_number img {
    height: 90px;
    width: auto;
}

#equalizer_div{
    height: 70px;
    width: 50%;
    display: inline-block;
    border-bottom: 1px solid #FFF;
}

#equalizer {
    height: 68px;
    width: 100%;
    display: inline-block;
}

h2#artist_song_title {
    font-size: 60px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 300;
    color: #ffca29;
    margin: 0;
}

h3#album_title {
    font-size: 30px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 300;
    color: #888;
    margin: 0;
}

p#track_extra_description {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #888;
}

span {
    width: 60%;
    display: block;
    margin-top: 3px;
    border-bottom: 1px solid #888;
}

#audio_div {
    width: 60%;
    margin-top: 20px;
    text-align: center;
}

#audio_controls {
    width: 120px;
    height: 50px;
    display: inline-block;
}

#center_button {
    font-size: 50px;
}

.track_button {
    height: 50px;
    float: left;
    font-size: 30px;    
    line-height: 60px;
    cursor: pointer;
}

.video-js {
    display: none;
}


.audiojs {
    width: 60%;
    background: none;
    box-shadow: none;
    overflow: visible;
    font-family: 'Open Sans', Arial, sans-serif;
    display: none;
}

.audiojs .play-pause {
    display: none;
}

.audiojs .time {
    height: auto;
    line-height: normal; 
    margin-left: 0;
    padding: 0;
}

.audiojs .play-pause, .audiojs .time {
    border-left: none;
    border-right: none;
}

.audiojs .scrubber {
    width: 100%;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    border-top: none;
}

.audiojs .loaded {
    background: #666;
}

.audiojs .progress, .audiojs .loaded {
    background-image: none;
}