/*@font-face {
    font-family: 'couturebold_italic';
    src: url('couture-bldit-webfont.eot');
    src: url('couture-bldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('couture-bldit-webfont.woff2') format('woff2'),
         url('couture-bldit-webfont.woff') format('woff'),
         url('couture-bldit-webfont.ttf') format('truetype'),
         url('couture-bldit-webfont.svg#couturebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'couturebold';
    src: url('../fonts/couture-bold-webfont.eot');
    src: url('../fonts/couture-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/couture-bold-webfont.woff2') format('woff2'),
         url('../fonts/couture-bold-webfont.woff') format('woff'),
         url('../fonts/couture-bold-webfont.ttf') format('truetype'),
         url('../fonts/couture-bold-webfont.svg#couturebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #333;
}

h1{
	color: #fff/*#c71f31 /*#00a651*//*#ED900E*/;
	line-height: 50px;
	font-size: 60px;
	font-family: "couturebold", Arial, sans-serif;
}

h3 {
	color: #c71f31;
}

p {
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
	font-size: 24px;
}

a {
	font-weight: bold;
	color: #c71f31/*#00a651*/; /*ED900E*/
}

span {
	height: 1px;
	width: 100%;
	display: inline-block;
	margin: 0;	
}

.title_box {
	width: 800px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	margin-top: -44px;
	height: 44px;
}

h1.title {
	text-align: left;
	margin: 0;
}

h1.title.R {
	text-align: Right;
	color: #333;
}

#sample {
	width: 100%;
	height: 1200px;
	/*background: url(../images/practice.jpg) center no-repeat;*/
	background-color: #c71f31;
	background-size: cover;
	display: block;
	text-align: center;
}

.nav_button_holder {
	position: absolute;
	right: 0px;
}

.nav_button {
	width: auto;
	height: 30px;
	margin-top: 100px;
	margin-right: 20px;
	background: none;
	float: right;
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: "couturebold", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.nav_button.first {
	margin-right: 200px;
}

#hook {
    margin-top: 100px;
	width: 1000px;
	height: 750px;
	display: inline-block;
}

#down_button {
	border-radius: 50%;
	background-color: #c71f31/*#333*/;
	width: 50px;
	height: 50px;
	color: #FFF/*#00a651#ED900E*/;
	font-size: 30px;
	border: 3px;
	border-style: solid;
	border-color: #fff;
	position: absolute;
	bottom: 50px;
	left: 50%;
	top: 1000px;
	margin-left: -25px;
	cursor: pointer;
}

/* Container  */
.section_container {
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
	text-align: center;
	padding: 0;
}

/* About */
#about {
	background-color: #FFF;
	height: 521px; 
}

.text_align {
	text-align: justify;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 800px;
	width: 90%;
	height: auto;
	display: inline-block;
}

/* Contact */
#contact {
	background-color: #FFF;
	height: 150px;
	color: #333;
}

.social_media_icon {
	height: 50px;
	width: 50px;
	margin-top: 30px;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.social_media_icon#twitter{
	background: url(../images/twitter.png) center no-repeat;
	background-size: contain;
}
.social_media_icon#linkedin{
	background: url(../images/linkedin.png) center no-repeat;
	background-size: contain;
}
.social_media_icon#github{
	background: url(../images/github.png) center no-repeat;
	background-size: contain;
}

/* Projects */
#projects {
	min-height: 400px;
	background-color: #333;
}

.project_container {
	width: auto;
	height: auto;
	margin: 20px;
	display: inline-block;
	cursor: pointer;
} 

.project_container  > a {
	text-decoration: none;
	color: #fff;
	margin: 0;
}

.project_icon {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 25%;
}

.project_container  > a > h3 {
	margin: 0;
}

p.project_text {
	font-weight: normal;
	font-size: 21px;
	line-height: 24px;
	margin: 0;
}

p.project_text.small {
	font-size: 16px;
}

#fiist {
	background: url(../images/fiist.png) center no-repeat;
}

#purge {
	background: url(../images/purge.jpg) center no-repeat;
}

#lcs{
	background: url(../images/lcs.png) center no-repeat;
}

#azimuth {
	background: url(../images/azimuthBW.png) center no-repeat;
}

#spellsy {
	background: url(../images/spellsy.jpg) center no-repeat;
}

/* Porfolio */
#portfolio {
	background-color: #333;
}

#loading {
	width: 60px;
	height: 64px;
	margin-top: 30px;
	display: inline-block;
	background: url(../images/loading.gif) center no-repeat;
	background-size: 60px 64px;
}

#content {
	width: 100%;
	height: 50%;
	display: inline-block;
}

.portfolio_element {
	width: auto;
	height: auto;
	display: none;
	cursor: pointer;
}

.second_batch{
	display: none;
}

img.resizeWidth {
	width: 100%;
}

/* Lightbox */
#lightbox {
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 5;
	display: none;
	background-color: rgba(0,0,0,.75);
}

#lightbox > p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 50px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #FFF;
}

#lightbox_image {
	max-height: 3000px;
	max-width: 1500px;
	margin-bottom: 200px;
	display: none;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	  -ms-transition-duration: 0.8s;
	   -o-transition-duration: 0.8s;
		  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
	 -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	   -o-transition-property: height, width;
		  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
	 -moz-transition-property:    -moz-transform, opacity;
	  -ms-transition-property:     -ms-transform, opacity;
	   -o-transition-property:      -o-transform, opacity;
		  transition-property:         transform, opacity;
}

@media (max-width: 800px) {
	body {
		overflow-x: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
	}	
	p  {
		font-size: 16px;
	}
	
	.title_box {
		width: 100%;
		left: initial;
		margin-left: 0;
	}
	
	h1.title, h1.title.R {
		text-align: center;
	}	
	
	#sample {
		min-width: 0px;
		height: 470px;
		display: block;
	}
    
    #hook {
        display: none;
    }
    
	.nav_button {
        position: static;
        float: none;
        margin: 0;
        display: block;
	}	
    .nav_button.first {
        margin: 0;
    }
    
    .nav_button_holder {
        display: inline-block;
        left: 20px;
    }
    
	#down_button {
		top: 400px;
	}
	.section_container {
		width: 100%;
		height: auto;
		overflow: hidden;
	}	
	.text_align {
		margin-top: 50px;
		margin-bottom: 50px;		
	}		
	#about {
		background: none;
		background-color: #FFF;
		height: 300px;
	}	
	#display_picture {
		margin: 20px;
		display: inline-block;
		float: none;
	}
	.project_container {
		margin: 10px;
	}
	p.project_text {
		font-size: 16px;
		line-height: 21px;
	}
	p.project_text.small {
		font-size: 12px;
	}
	#lightbox_image {
		max-height: 3000px;
		max-width: 90%;
		margin: 5%;
		margin-bottom: 10%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 800px){
	body {
		-moz-transform: scale(0.9, 0.9); /* Moz-browsers */
		zoom: 0.9; /* Other non-webkit browsers */
		zoom: 90%;   
	}	
	hook {
		text-shadow: none;
	}
}
