body {
	font-family:  "Quicksand", "Lato", "Helvetica Neue", Arial, sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #333;
}

h1{
	color: #00a651/*#ED900E*/;
	line-height: 25px;
	text-decoration: underline;
}

p {
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
}

a {
	font-weight: bold;
	color: #00a651; /*ED900E*/
}

h1.titleR {
	text-align: right;
}

h1.titleL {
	text-align: left;
}

h1.titleP {
	text-align: right;
	margin-right: 50px;
}

#sample {
	width: 100%;
	min-width: 1920px;
	height: 1110px;
	background: url(../images/practice.jpg) center no-repeat;
	background-size: cover;
	display: block;
}

.nav_button_holder {
	position: absolute;
	right: 0px;
}

.nav_button {
	width: 150px;
	height: 30px;
	margin-top: 100px;
	margin-right: 20px;
	background-color: #333;
	float: right;
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.nav_button.first {
	margin-right: 200px;
	background-color: #00a651/*#ED900E*/;
}

#hook {
	margin-top: -42.5px;
	margin-left: 200px;
	width: 540px;
	height: 95px;
	top: 45%;
	position: absolute;
	z-index: 2;
	-webkit-text-stroke: 1px #000;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#hook p {
	margin-top: 10px;
	margin-left: 8px;
	color: #00a651/*#ED900E*/;
}

#hook p b{
	font-weight: bold;
	letter-spacing: 2px;
}

#down_button {
	border-radius: 50%;
	background-color: #333;
	width: 50px;
	height: 50px;
	color: #00a651/*#ED900E*/;
	font-size: 30px;
	border: 3px;
	border-style: solid;
	border-color: #fff;
	position: absolute;
	bottom: 50px;
	left: 50%;
	top: 1000px;
	margin-left: -25px;
	cursor: pointer;
}

/* Container  */
.section_container {
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
	text-align: center;
}

/* About */
#about {
	background: url(../images/sword.jpg) left no-repeat;
	background-size: 75%;
	background-color: #FFF;
}

.right_text {
	text-align: justify;
	margin-right: 50px;
	float: right;
	width: 800px;
	height: 100%;
}

/* Contact */
#contact {
	background-color: #333;
}

.right_text.left {
	text-align: justify;
	margin-top: 30px;
	margin-left: 50px;
	float: left;
	width: 800px;
	height: 100%;
	color: #00a651/*#ED900E*/;
}

#display_picture {
	width: 200px;
	height: 200px;
	float: right;
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 250px;
	margin-right: 250px;
	background: url(../images/displaypicture.jpg) center no-repeat;
	background-size: contain;
	border-radius: 5%;
	border: 3px solid #00a651;
}

/* Projects */
#projects {
	min-height: 300px;
	background-color: #FFF;
}

.project_container {
	width: auto;
	height: auto;
	margin: 20px;
	display: inline-block;
	cursor: pointer;
} 

.project_container  > a {
	text-decoration: none;
	color: #000;
	margin: 0;
}

.project_icon {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 25%;
}

.project_container  > a > h3 {
	margin: 0;
}

p.project_text {
	font-weight: normal;
	font-size: 21px;
	line-height: 24px;
	margin: 0;
}

p.project_text.small {
	font-size: 16px;
}

#fiist {
	background: url(../images/fiist.png) center no-repeat;
}

#purge {
	background: url(../images/purge.png) center no-repeat;
}

#lcs{
	background: url(../images/lcs.png) center no-repeat;
}

#azimuth {
	background: url(../images/azimuthBW.png) center no-repeat;
}

#spellsy {
	background: url(../images/spellsy.png) center no-repeat;
}

/* Porfolio */
#portfolio {
}

#loading {
	width: 64px;
	height: 64px;
	margin-top: 30px;
	display: inline-block;
	background: url(../images/loading.gif) center no-repeat;
	background-size: contain;
}

#content {
	width: 100%;
	height: 50%;
	display: inline-block;
}

.portfolio_element {
	width: auto;
	height: auto;
	display: none;
	cursor: pointer;
}

.second_batch{
	display: none;
}

img.resizeWidth {
	width: 100%;
}

/* Lightbox */
#lightbox {
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 5;
	display: none;
	background-color: rgba(0,0,0,.75);
}

#lightbox > p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 50px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #FFF;
}

#lightbox_image {
	max-height: 3000px;
	max-width: 1500px;
	margin-bottom: 200px;
	display: none;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	  -ms-transition-duration: 0.8s;
	   -o-transition-duration: 0.8s;
		  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
	 -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	   -o-transition-property: height, width;
		  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
	 -moz-transition-property:    -moz-transform, opacity;
	  -ms-transition-property:     -ms-transform, opacity;
	   -o-transition-property:      -o-transform, opacity;
		  transition-property:         transform, opacity;
}

@media (max-width: 1600px) {
	body {
		overflow-x: hidden;
		width: 100%x;
		padding: 0;
		margin: 0;
	}	
	p  {
		font-size: 16px;
	}
	h1.titleR, h1.titleL, h1.titleP {
		text-align: center;
	}
	h1.titleP {
		margin-right: 0;
	}	
	#sample {
		min-width: 0px;
		height: 470px;
		display: block;
	}	
	.nav_button {
		display: none;
	}	
	#hook {
		width: 100%;
		margin: 0;
		top: 15px;
	}
	#down_button {
		top: 400px;
	}
	.section_container {
		width: 100%;
		height: auto;
		overflow: hidden;
	}	
	.right_text.left,.right_text{
		margin: 0;
		display: inline-block;
		width: 90%;
		float: none;
	}	
	#about {
		background: none;
		background-color: #FFF;
	}	
	#display_picture {
		margin: 20px;
		display: inline-block;
		float: none;
	}
	.project_container {
		margin: 10px;
	}
	p.project_text {
		font-size: 16px;
		line-height: 21px;
	}
	p.project_text.small {
		font-size: 12px;
	}
	#lightbox_image {
		max-height: 3000px;
		max-width: 90%;
		margin: 5%;
		margin-bottom: 10%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	body {
		-moz-transform: scale(0.9, 0.9); /* Moz-browsers */
		zoom: 0.9; /* Other non-webkit browsers */
		zoom: 90%;   
	}	
	hook {
		text-shadow: none;
	}
}
