@font-face {
    font-family: 'couturebold';
    src: url('../fonts/couture-bold-webfont.eot');
    src: url('../fonts/couture-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/couture-bold-webfont.woff2') format('woff2'),
         url('../fonts/couture-bold-webfont.woff') format('woff'),
         url('../fonts/couture-bold-webfont.ttf') format('truetype'),
         url('../fonts/couture-bold-webfont.svg#couturebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
    color: #333;
	padding: 0;
	margin: 0;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
	font-family: "Quicksand", Arial, sans-serif;
    font-weight: 300;
    margin-left: 40px;
    margin-top: 2%;
    float: left;
    position: fixed;
}

h2 {
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 50px;
    font-weight: 400;
}

p {
	font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
    margin: 0;
}

a {
    text-decoration: none;
	color: #c71f31;
}

ul {
    position: fixed;
    bottom: 5%;
    list-style-type: none;
    text-align: left;
}

ul > a {
    color: #111;
}

li {
    text-transform: uppercase;
}

#main {
    height: 100%;
    width: 100%;
    display: inline-block;
}

/* Container  */
.section_container {
	width: 100%;
	height: 100%;
	padding: 0;
    display: block; 
}

.stage {
    max-width: 1280px;
    width: 100%;
    height: 60%;
    display: inline-block;
    border: 1px solid #666;
    margin-top: 3%;
}

.stage_text {
    max-width: 720px;
    width: 100%;    
    position: absolute;
    margin-left: -75px;
    margin-top: 50px;
    text-align: left;
    line-height: 200px;
    background-color: #fff;
    z-index: 50;
}

.stage_exit {
    width: 375px;
    height: 100px;
    position: absolute;
    margin-left: 45%;
    text-align: center;
    line-height: 100px;
    background-color: #000;
    z-index: 40;
    cursor: pointer;
}

.stage_exit_arrow {
    width: 60px;
    height: 1px;
    display: inline-block;
    background-color: #666;
    margin-left: 10px;
    vertical-align: middle;
}

.stage_exit p {
    font-size: 18px;
    color: #666;
    text-transform: uppercase;
    font-style: italic;
    display: inline;
}

.stage_overflow {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.navigation_redundancy {
    width: 150px;
    height: auto;
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    text-transform: uppercase; 
    color: #666;
}

.navigation_redundancy_arrow {
    width: 1px;
    height: 60px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #666;
}

.code_title {
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
} 

.code_section {
	width: 100%;
	max-width: 680px;
	display: inline-block;
	text-align: left;
    border-left: #333 solid;
    margin-top: 25px;
    margin-bottom: 50px;
}

.code_section p, .code_section .circle_container, .code_section .project_container, #skills{
	margin-left: 25px;
}

.code_section p {
	text-align: justify;	
}

.text_align {
	margin-top: 50px;
	margin-bottom: 25px;
	max-width: 800px;
	width: 90%;
	height: auto;
	display: inline-block;
}

.onclick {
    cursor: auto;
    font-weight: bold;
}

#mobile_title {
    display: none;
}

#avatar {
    width: 90%;
    height: 300px;
    display: none;
    margin: 20px;
    background: url("../images/Avatar300.png") center no-repeat;
}

/* Intro */
#self {
    width: 40%;
    float: right;
}

/* HHHP */

#hhhp_bg_cover {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: absolute;
    z-index: -2;
}

#hhhp_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url("../images/gallery/screen_hhhp01.jpg") center no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


/* About */
#about {
	margin-top: 50px;
}	

.circle_container {
    width: auto;
    height: 50px;
    display: inline-block;
    margin-bottom: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    float: left;
    display: inline;
    margin-right: 10px;
    border-radius: 50%;
}

#Travis {
    background-image: url("../images/Travis.png");
    background-size: contain;
}

#GS {
    background: url("../images/GS.png") center no-repeat;
    background-size: contain;
}

#LGD {
    background-image: url("../images/LGD.png");
    background-size: contain;
    background-color: #252525;
}

#UW {
    background-image: url("../images/UW.png");
    background-size: contain;
    background-color: #252525;
}

#Spellsy {
    background-image: url("../images/spellsy.png");
    background-size: contain;
}

#Ample {
    background-image: url("../images/Ample.jpg");
    background-size: contain;
}

#plus {
    width: 10px;
    height: 70px;
    float: left;
    display: inline-block;
    margin-right: 10px;
    line-height: 70px;
}

.skill {
	width: auto;
	background: url("../images/TileDF.png") left no-repeat;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}

.skill.icon {
    width: 50px;
    height: 50px;
}

#PS {
    background: url("../images/PS.png") center no-repeat;
    background-size: contain;
}

#AE {
    background: url("../images/AE.png") center no-repeat;
    background-size: contain;
}

#AI {
    background: url("../images/AI.png") center no-repeat;
    background-size: contain;
}

#FL {
    background: url("../images/FL.png") center no-repeat;
    background-size: contain;
}

#skills {
    margin-top: 20px;
}

/* Projects */
.project_container {
	width: auto;
	height: auto;
	margin: 20px;
	display: block;
	cursor: pointer;
} 

.project_container  > a {
	text-decoration: none;
	color: #333;
	margin: 0;
}

.project_icon {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 50%;
}

.project_container  > a > h3 {
	margin: 0;
}

p.project_text {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

p.project_text.small {
	font-size: 16px;
}

#hhhp_icon {
	background: url("../images/hhhp_icon.png") center no-repeat;
    background-size: contain;
}

#fiist_icon {
	background: url("../images/fiist_icon.png") center no-repeat;
    background-size: contain;
}

#azimuth_icon {
	background: url("../images/azimuthBW_icon.png") center no-repeat;
    background-size: contain;
}

.display_image {
    width: 95%;
    max-width: 1000px;
    margin-bottom: 50px;
    display: inline-block;
}

.display_panel {
    position: absolute;
    width: 48%;
    z-index: 50;
    cursor: pointer;
}

.display_panel:hover {
    opacity: 0.5;
}

#hhhpcurrent {
    left: 52%;
    margin-top: -50px;
}

#hhhppast {
    left: 32%;
    margin-top: -25px;
}

.display_image.small {
    width: auto;
}

.display_image.standalone {
    box-shadow: 0px 1px 1px 2px #999;
}

.text_align.az{
    max-width: 980px;
    /*border: 5px solid #dbe8f9;*/
}

#about_az {
    background-color: #ccdaeb;
    height: 500px;
}

#about_hhhp {
    background-color: #111;
    height: 500px;
    color: #FFF;
}

#about_uiux {
    background-color: #FFF;
    height: 400px;
    margin-top: 800px;
}

.skew-neg {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.skew-pos {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}

.colour_swatch {
    width: 100%;
    max-width: 1000px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.colour_swatch > p {
    margin-left: 20px;
    color: #FFF;
}

p.heading {
    margin-top: 150px;
    text-transform: uppercase;
}

.font_box {
    width: 300px;
    height: auto;
    display: inline-block;
    margin-top: 25px;
}

.font_box > p {
    font-size: 14px;
}

#project {
    display: none;
    min-height: 200px;
}


@media (max-width: 800px) {
	body {
		overflow-x: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
	}	
	p  {
		font-size: 16px;
	}
    h1 {
       font-size: 48px;
       color: #333;
       display: none;
    }
    ul {
    	margin-left: -15px;
    	margin-top: 20px;
    	font-size: 12px;
    }
    ul >a{
        color: #333;
    }
    #mobile_title {
        display: inline-block;
    }
	#avatar {
        height: 150px;
        background: url("../images/Avatar150.png")center no-repeat;
        display: inline-block;
        margin-bottom: 0;
	}
    #hook_alignment {
        width: 100%;
        cursor: auto;
        background-color: #FFF;
        box-shadow: 0px 1px 1px 1px #999;
    }  
    #hook {
        margin-top: 15px;
        width: 90%;
    }
    #main {
        margin-top: 0px;
        background: none;
    }
    .code_section p, .code_section .circle_container, .code_section .project_container, #skills{
        margin-left: 40px;
    }
    .code_title {
        text-align: center;
        margin-top: 75px;
    }
	.section_container {
		width: 100%;
		height: auto !important;
		overflow: hidden;
	}		
	#about {
		background: none;
		margin-top: 0;
	}
    .circle {
        margin-top: 10px;
    }
    .circle_container {
        height: auto;
        margin-bottom: 0px;
    }
    #projects {
    }    
	.project_container {
		margin: 10px;
	}
	p.project_text {
		font-size: 16px;
		line-height: 21px;
	}
	p.project_text.small {
		font-size: 12px;
	}
    li {
        margin-right: 10px;
    }
    .display_image.small {
        width: 100%;
    }
    .azimuth {
        margin-top: 100px;
    }
    p.heading {
        margin-top: 50px;
    }    
    #about_uiux {
        margin-top: 200px;
    }
}


@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 800px){
	body {
		-moz-transform: scale(0.9, 0.9); /* Moz-browsers */
		zoom: 0.9; /* Other non-webkit browsers */
		zoom: 90%;   
	}	
	hook {
		text-shadow: none;
	}
}

